*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    max-width: 60rem;
    margin: 0 auto;
}
.achtergrond {
    height: 60vh;
    /* Hieronder wordt een overlay toegevoegd om de tekst leesbaar te maken */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    flex-direction: column;
}
.achtergrond h1 {
    position: absolute;
    font-size: 2.5rem;
    color: #fff;
    margin-top: 0;
}
.achtergrond img {
    position: relative;
    order: -1;
    filter: brightness(60%);
    height: 60vh;
    width: 100%;
    background-size: cover;
}

.cruises {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto;
}
.cruises .cards {
    text-align: center;
}
.cruises .cards .card img {
    object-fit: cover;
}
