*, *::before, *::after {
  box-sizing: border-box;
}
:root{
  --color_logo: #ffc0cb;
}
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    padding: 0;
}
.start-home {
  height: 60vh;
  /* Hieronder wordt een overlay toegevoegd om de tekst leesbaar te maken */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  flex-direction: column;
  }
  .start-home h1 {
    position: absolute;
    font-size: 2.5rem;
    color: #fff;
    margin-top: 0;  
  }
  .start-home img {
    position: relative;
    order: -1;
    filter: brightness(60%);
    height: 60vh;
    background-size: cover;
    width: 100%;
  }
  .button_contact{
    position: absolute;
    top: 20rem;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: var(--color_logo);
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #000;
  }

  .button_contact:hover{
    background-color: darkgray; /* Donkerder groen bij hover, pas aan naar wens */
  }
  .Logo_navbar {
    height: 50px; /* Pas de hoogte van het logo aan naar wens */
    width: auto; /* Zorgt ervoor dat de breedte proportioneel wordt aangepast aan de hoogte */
    vertical-align: middle; /* Hiermee wordt het logo verticaal gecentreerd binnen het lijstitem */
  }

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  margin: 0px;
  padding: 1rem;
  }
  
  .item {
  box-sizing: border-box;
  width: 33.33%;
  margin-bottom: 20px;
  padding: 0 0.8rem;
  }
  
  .content {
  color: #000;
  background-color: var(--color_logo);
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  border-radius: 2rem;
  }
  .title-page{
  color: var(--color_logo);
  text-align: center;
  }
  .content>img{
  width: 100%; /* Pas de breedte aan zoals gewenst */
  height: 19rem; /* Pas de hoogte aan zoals gewenst */
  object-fit: cover; /* Bijsnijden om de volledige ruimte in te vullen */
  }

  .foto_homepage{
    border-radius: 2rem;
  }
  .container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
  }

  .container1>.container{
    background: white;
  }
  .container2>.container{
    background: #333333;
    width: 75%;
    margin: auto;
  }
  .container2>.container>.flexbox{
    justify-content: center;
  }
  a{
    text-decoration: none;
  }

  /* cookies */

  .cookies-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    opacity: 1;
}

.cookies-popup p {
    margin: 0;
}

.accept-btn {
  margin-top: 0.5rem;
    background-color: var(--color_logo);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


  /* Fade-in effect for the popup */
  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }

  /* Apply the fade-in effect to the popup */
  .cookies-popup {
      animation: fadeIn 0.25s ease-in-out;
  }