*, *::before, *::after {
  box-sizing: border-box;
}
:root{
  --color_logo: #90ADBB;
}
body {
  margin: 0;
  font-family: Poppins, sans-serif;
  padding: 0;
}

/* Navbar */
.navbar {
  display: flex;
  background-color: var(--color_logo);
  justify-content: space-between;
  padding: 0 0.5rem;
}
.navbar .logo {
  width: 4.375rem;
  height: 4.375rem;
}
.navbar .logo:hover, .logo:focus-visible {
  transform: scale(1.05);
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: flex;
  justify-content: center;
}
.navbar ul a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.3rem;
}
.navbar ul a:hover, a:focus-visible {
  transform: scale(1.2);
}
.navbar .dropdown {
  display: flex;
  align-items: center;
  z-index: 1;
}
.navbar .dropdown > a {
  font-weight: 400;
  font-size: 1.3rem;
  color: #fff;
  border: none;
  text-decoration: none;
  position: relative;
}
.navbar .dropdown:hover, .dropdown:focus-visible {
  transform: scale(1.2);
  display: flex;
}
.navbar .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.navbar .dropdown:hover .dropdown-content, 
.dropdown:focus-visible .dropdown-content {
  display: flex;
  flex-direction: column;
}
.navbar .dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
}
.navbar .dropdown-content a:hover,
.dropdown-content a:focus-visible {
  color: #000; /* Change the color when hovered */
}




/* Custom Shape Divider */
.custom-shape-divider-bottom-1701943727 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-bottom-1701943727 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 87px;
}
  
.custom-shape-divider-bottom-1701943727 .shape-fill {
  fill: #ffff;
}
.white-bg {
  position: absolute;
  background-color: #fff;
  width: 100%;
  z-index: 10;
  height: 0.625rem;
  top: 98%;
}
