*, *::before, *::after {
    box-sizing: border-box;
  }
body {
      margin: 0;
      font-family: Poppins, sans-serif;
      padding: 0;
}
/* Helpers */
.container {
    max-width: 60rem;
    margin: 0 auto;
}
.underlined {
    position: relative;
}
.underlined::before {
    content: "";
    position: absolute;
    bottom: -0.8rem;
    margin-left: 1rem;
    height: 0.25rem;
    background-color: #E2E1E1;
    width: 10rem;
}
/* Vakantie page */
.start-vakanties {
    height: 60vh;
    /* Hieronder wordt een overlay toegevoegd om de tekst leesbaar te maken */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    flex-direction: column;
}
.start-vakanties h1 {
    position: absolute;
    font-size: 2.5rem;
    color: #fff;
    margin-top: 0;
}
.start-vakanties img {
    position: relative;
    order: -1;
    filter: brightness(60%);
    height: 60vh;
    width: 100%;
    background-size: cover;
}
/* Populair section */
.populair {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4rem;
}
.populair h2 {
    margin-bottom: 3rem;
}
/* Seizoenen section */
.seizoen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
}
.seizoen .zomer h2 {
    margin-bottom: 3rem;
}
.seizoen .zomer .cards .data {
    background-color: rgba(255, 255, 0, 60%);
}
.seizoen .winter h2 {
    margin: 4rem 0 3rem;
}
.seizoen .winter .cards .data {
    background-color: rgba(173, 216, 230, 70%);
}
