
img {
    border-radius: 1rem;
    width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

section {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

body{
    background-color: #ffcfd7;
}
.row > * {
    flex: 1; /* Maak beide kolommen flexibel */
}

h1 {
    text-align: center;
    font-size: 2.4rem;
}

h2 {
    text-align: center;
    font-size: 1.8rem;
}

p {
    line-height: 1.6;
}
.afsluit{
    display: flex;
    align-self: center;
    max-width: 50%;
    font-size: 1rem;
}

/* Gray Scale */
figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
figure {
    margin: 0;
}
figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}