*, *::before, *::after {
  box-sizing: border-box;
}
:root{
  --color_logo: #90ADBB;
}
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    padding: 0;
  }
  .container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color_logo);
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    
  }
  .navbar :hover{
    color: black;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
  }  

  .achtergrond {
    background: url('./img/achtergrond_voorpagina.jpg') center/cover no-repeat fixed;
    height: 60vh;
    /* Hieronder wordt een overlay toegevoegd om de tekst leesbaar te maken */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    flex-direction: column;
  }

/* NAV */

.topnav {
  background-color: var(--color_logo);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
}

.topnav a {
  display: block;
  height: auto;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: color 0.25s ease-out;
}

.topnav a:hover {
  color: black;
}

.dropdown {
  margin-left: auto;
  margin-right: 1rem;
  overflow: hidden;
}

.dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-right: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Add styles for hover or active states as needed */
.topnav a:hover,
.dropdown-content a:hover {
  color: black;
}

  /* .navbar {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--color_logo);
    padding: 10px;
    box-sizing: border-box;
  }

  .navbar > li {
    font-size: 30px;
  }

  .navbar a:hover{
    color: black;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    display: flex;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    transition: color 0.25s ease-out;
  } */

  .Logo_navbar {
    height: 50px; /* Pas de hoogte van het logo aan naar wens */
    width: auto; /* Zorgt ervoor dat de breedte proportioneel wordt aangepast aan de hoogte */
    vertical-align: middle; /* Hiermee wordt het logo verticaal gecentreerd binnen het lijstitem */
  }

/* TAAL */

  /* #lang {
    margin-left: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }

  #lang-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    background-color: var(--color_logo);
    z-index: 1;
  }

  #lang:hover #lang-options {
    display: flex;
    flex-direction: column;
  } */


  
  /* CONTACT */

  .button_contact{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: var(--color_logo);
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: white;

  }

  .button_contact:hover{
    background-color: darkgray; /* Donkerder groen bij hover, pas aan naar wens */
  }

  .achtergrond h1 {
    margin-top: 0;
    padding-top: 20vh; /* Pas deze waarde aan om de tekst positie aan te passen */
    font-size: 2.5em;
    color: white;
  }
  .Logo_navbar {
    height: 50px; /* Pas de hoogte van het logo aan naar wens */
    width: auto; /* Zorgt ervoor dat de breedte proportioneel wordt aangepast aan de hoogte */
    vertical-align: middle; /* Hiermee wordt het logo verticaal gecentreerd binnen het lijstitem */
  }
  
  /* Contact Page */
.start-contact {
  height: 60vh;
  /* Hieronder wordt een overlay toegevoegd om de tekst leesbaar te maken */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  flex-direction: column;
}
.start-contact h1 {
  position: absolute;
  font-size: 2.5rem;
  color: #fff;
  margin-top: 0;
}
.start-contact img {
  position: relative;
  order: -1;
  filter: brightness(60%);
  height: 60vh;
  width: 100%;
  background-size: cover;
}
.custom-shape-divider-bottom-1701943727 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1701943727 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 87px;
}

.custom-shape-divider-bottom-1701943727 .shape-fill {
  fill: #ffff;
}
.white-bg {
  position: absolute;
  background-color: #fff;
  width: 100%;
  z-index: 10;
  height: 0.625rem;
  top: 98%;
}
.container-contactinfo {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  gap: 5rem;
}
.contact {
  display: flex;
  flex-direction: column;
  min-width: 50rem;
  max-width: 50rem;
  box-shadow: #242424 0 7px 29px 0;
  border-radius: 10px;
  padding: 2rem;
}
.contact h2 {
  font-weight: 600;
  margin-top: 0;
}
.contact form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1rem;
}
.contact div {
  margin-bottom: 1.5rem;
}
.contact form div input {
  width: 100%;
  line-height: 1.6rem;
  margin-top: 0.325rem;
  margin-bottom: 0.625rem;
}
div .submit-button {
  width: 15rem;
  margin: 0;
  transition: transform 0.2s;
}
div .submit-button input {
  font-size: 1rem;
  border-color: transparent;
  color: #fff;
  background-color: #90ADBB;
}
div .submit-button:hover, .submit-button:focus-visible {
  filter: brightness(70%);
  transform: scale(1.05);
}
.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5rem;
}
.info h2 {
  margin: 0;
  font-weight: 600;
}
.info .column-border {
  box-shadow: #242424 0 7px 29px 0;
  border-radius: 10px;
  padding: 2rem;
  min-width: 20rem;
}




.custom-shape-divider-bottom-1701943727 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1701943727 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 87px;
}

.custom-shape-divider-bottom-1701943727 .shape-fill {
  fill: #ffff;
}
.flexbox {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: stretch;
box-sizing: border-box;
margin: 0px;
}

.item {
box-sizing: border-box;
width: 33.33%;
margin-bottom: 20px;
padding: 0 0.8rem;
}

.content {
color: #242424;
background-color: var(--color_logo);
font-weight: 600;
text-align: center;
box-sizing: border-box;
height: 100%;
padding: 10px;
}
.title-page{
color: var(--color_logo);
text-align: center;
}
.content>img{
width: 100%; /* Pas de breedte aan zoals gewenst */
height: 19rem; /* Pas de hoogte aan zoals gewenst */
object-fit: cover; /* Bijsnijden om de volledige ruimte in te vullen */
}
